@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme:light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: rgb(249, 255, 246);
  }
}